<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-lg-9">
                                        <select class="form-control" style="width: auto" name="itemsPagina" [(ngModel)]="itemsPagina">
                                              <option [ngValue]="10">10 por pagina</option>
                                              <option [ngValue]="20">20 por pagina</option>
                                              <option [ngValue]="30">30 por pagina</option>
                                            </select>
                                        <br>
                                    </div>

                                    <div class="col-lg-3 text-right">
                                        <button (click)=agregarSubCategoria(content) type="button" class="btn btn-rounded btn-primary waves-effect waves-light m-r-10">
                                            <li class="fa fa-plus responsive"></li>
                                            <li class="noresponsive"><i class="fa fa-plus"></i> Agregar</li>
                                            
                                        </button>
                                    </div>

                                </div>
                                <br>
                                <div *ngIf="subcategorias.length === 0 && !mostrarSinResultado" class="alert alert-info " role="alert ">
                                    <h4 class="alert-heading ">SUB CATEGORÍAS</h4>
                                    <p>No hay sub categorias almacenadas. Por favor agregue sub categorias.</p>
                                </div>
                                <div *ngIf="subcategorias.length > 0 || mostrarSinResultado" class="table-responsive">
                                    <table class=" table table-hover ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col " class="text-center">Nombre</th>
                                                <th scope="col " class="text-center">Descripcion</th>
                                                <th scope="col " class="text-center">Categoria</th>
                                                <th scope="col " class="text-center">Estado</th>
                                                <th scope="col " width="150px" class="text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="subcategorias.length > 0 || mostrarSinResultado">
                                            <tr>
                                                <td colspan="5">
                                                    <div class="input-group">
                                                        <input #input (keyup)="buscar( input.value )" type="text" class="form-control" placeholder="Buscar..." />
                                                        <span class="input-group-addon"><i> {{ cantBusqueda }} </i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngIf="mostrarSinResultado">
                                                <td colspan="5">
                                                    <div class="col-lg-12 alert alert-info mt-10 animated fadeIn" role="alert">
                                                        <h4 class="alert-heading">Sub Categorías</h4>
                                                        <p>No hay sub categorías para la busqueda realizada.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let item of globales.Lista(subcategorias,pagina,itemsPagina)">
                                                <td class="text-center va">{{ item.nombre }}</td>
                                                <td class="text-center va">{{ item.descripcion}}</td>
                                                <td class="text-center va">{{ item.nombreCategoria }} </td>
                                                <td class="text-center va">
                                                    <span *ngIf="item.estado" class="label labeltable label-light-info">Activa</span>
                                                    <span *ngIf="!item.estado" class="label labeltable label-light-warning">Inactiva</span>
                                                </td>
                                                <td class="text-center btnOpciones">
                                                    <button (click)="actualizarSubCategoria( this.item ); open(content)" class="btn btn-primary m-r-10"><i class="fa fa-edit"></i></button>
                                                    <button (click)="eliminarSubCategoria( this.item )" class="btn btn-danger m-r-10"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ngb-pagination *ngIf="subcategorias.length > 0" [maxSize]="5" class="right" [collectionSize]="subcategorias.length" [(page)]="pagina" [pageSize]="itemsPagina">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ TituloModal }}</h4>
        <button type="button" class="btn btn-secondary" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <button [hidden]="botonOculto" type="button" class="btn btn-secondary" aria-label="Close" id='close' (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="forma" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group ">
                        <label class="col-form-label ">Nombre Sub Categoría</label>
                        <input class="form-control " type="text " placeholder="Nombre Sub Categoría" maxlength="31" formControlName="nombre" [class.is-invalid]="nombreNoValido.invalid && nombreNoValido.touched">
                        <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.required && nombreNoValido.touched" class="text-danger ">El campo Nombre Sub Categoria es requerido</small>
                        <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.minlength" class="text-danger">La longitud mínima del campo es de 3 caracteres</small>
                        <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.maxlength" class="text-danger ">La longitud maxima del campo es de 30 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group ">
                        <label class="col-form-label ">Descripción</label>
                        <input class="form-control " type="text " placeholder="Descripción de la sub categoría" formControlName="descripcion" [class.is-invalid]="descripcionNoValido.invalid && descripcionNoValido.touched">
                        <small *ngIf="descripcionNoValido.invalid && descripcionNoValido.errors.required && descripcionNoValido.touched" class="text-danger ">El campo Descripción Categoria es requerido</small>
                        <small *ngIf="descripcionNoValido.invalid && descripcionNoValido.errors.minlength" class="text-danger">La longitud mínima del campo es de 3 caracteres</small>
                        <small *ngIf="descripcionNoValido.invalid && descripcionNoValido.errors.maxlength" class="text-danger ">La longitud maxima del campo es de 30 caracteres</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-form-label">Categorías</label>
                        <ng-select [items]="categorias" placeholder="Categorias" bindLabel="nombre" bindValue="idCategoria" formControlName="idCategoria" [class.is-invalid]="idCategoriaNoValido.invalid && idCategoriaNoValido.touched">
                        </ng-select>
                        <small *ngIf="idCategoriaNoValido.invalid && idCategoriaNoValido.errors.required && idCategoriaNoValido.touched" class="text-danger ">El campo Categoria es requerido</small>
                        <small *ngIf="idCategoriaNoValido.invalid && idCategoriaNoValido.errors.minlength" class="text-danger">La longitud mínima del campo es de 3 caracteres</small>
                        <small *ngIf="idCategoriaNoValido.invalid && idCategoriaNoValido.errors.maxlength" class="text-danger ">La longitud maxima del campo es de 30 caracteres</small>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="mostrarEstado">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="checkbox checkbox-info p-t-0">
                            <input id="checkbox-signup" formControlName="estado" type="checkbox" class="filled-in chk-col-light-green">
                            <label for="checkbox-signup"> Activa </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button (click)=crearSubCategoria() type=" button " class="btn btn-primary " data-dismiss="modal ">Guardar</button>
        <button (click)="cerrarModal()" type="button " class="btn btn-secondary ">Cancelar</button>
    </div>
</ng-template>