<ngx-flip [flip]="flip" class="ngflip">
    <div front>
        <div class="row animated fadeIn">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-lg-9">
                                                <select class="form-control" style="width: auto" name="itemsPagina" [(ngModel)]="itemsPagina">
                                                  <option [ngValue]="10">10 por pagina</option>
                                                  <option [ngValue]="20">20 por pagina</option>
                                                  <option [ngValue]="30">30 por pagina</option>
                                                </select>
                                                <br>
                                            </div>

                                            <div class="col-lg-3 text-right">
                                                <button (click)=agregarDescuento() type="button" class="btn btn-rounded btn-primary waves-effect waves-light m-r-10">
                                                    <li class="fa fa-plus responsive"></li>
                                                    <li class="noresponsive"><i class="fa fa-plus"></i> Agregar</li>
                                                </button>
                                            </div>

                                        </div>
                                        <br>
                                        <div *ngIf="descuentos.length === 0 && !mostrarSinResultado" class="alert alert-info " role="alert ">
                                            <h4 class="alert-heading ">Clientes</h4>
                                            <p>No hay clientes almacenados. Por favor agregue clientes.</p>
                                        </div>
                                        <div *ngIf="descuentos.length > 0 || mostrarSinResultado" class="table-responsive">
                                            <table class=" table table-hover ">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col" width="200px" class="text-center">Nombre</th>
                                                        <th scope="col" class="text-center">Fecha Inicial</th>
                                                        <th scope="col" class="text-center">Fecha Final</th>
                                                        <th scope="col" class="text-center">Valor Descuento</th>
                                                        <th scope="col" class="text-center">Producto</th>
                                                        <th scope="col" width="150px" class="text-center">Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="descuentos.length > 0 || mostrarSinResultado">
                                                    <tr>
                                                        <td colspan="6">
                                                            <div class="input-group" style="margin-bottom: 0;">
                                                                <input #input (keyup)="buscar( input.value )" type="text" class="form-control" placeholder="Buscar...">
                                                                <span class="input-group-addon"><i> {{ cantBusqueda }} </i></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="mostrarSinResultado">
                                                        <td colspan="6">
                                                            <div class="col-lg-12 alert alert-info mt-10 animated fadeIn" role="alert">
                                                                <h4 class="alert-heading">Descuentos</h4>
                                                                <p>No hay descuentos para la busqueda realizada.</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let item of globales.Lista(descuentos,pagina,itemsPagina)">
                                                        <td class="text-center">{{ item.nombre}}</td>
                                                        <td class="text-center">{{ item.fechaInicio }}</td>
                                                        <td class="text-center">{{ item.fechaFin }}</td>
                                                        <td class="text-center">{{ item.valorDescuento }} %</td>
                                                        <td class="text-center">{{ item.nombreProducto}}</td>
                                                        <td class="text-right">
                                                            <button (click)="actualizarDescuento( this.item )" class="btn btn-primary m-r-10"><i class="fa fa-edit"></i></button>
                                                            <!-- <button (click)="eliminarCliente( this.item )" class="btn btn-danger m-r-10"><i class="fa fa-trash-o"></i></button> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <ngb-pagination *ngIf="descuentos.length > 0" [maxSize]="5" class="right" [collectionSize]="descuentos.length" [(page)]="pagina" [pageSize]="itemsPagina">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div back>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12 text-right">
                                <button (click)="regresar()" type="button" class="btn btn-rounded btn-primary waves-effect waves-light m-r-10">
                                    <li class="fa fa-arrow-left responsive"></li>
                                    <li class="noresponsive"><i class="fa fa-arrow-left"></i> Regresar</li>
                                </button>
                            </div>
                        </div>
                        <form [formGroup]="forma" (ngSubmit)="guardarDescuento()">
                            <div class="form-body">
                                <!--/row-->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" maxlength="31" formControlName="nombre" [class.is-invalid]="nombreNoValido.invalid && nombreNoValido.touched">
                                            <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.required && nombreNoValido.touched" class="text-danger">El campo Nombre es requerido</small>
                                            <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.minlength" class="text-danger ">La longitud mínima del campo es de 3 caracteres</small>
                                            <small *ngIf="nombreNoValido.invalid && nombreNoValido.errors.maxlength" class="text-danger ">La longitud maxima del campo es de 30 caracteres</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Valor Descuento</label>
                                            <input type="number" class="form-control" placeholder="Valor Descuento" maxlength="10" min="0" formControlName="valorDescuento" [class.is-invalid]="vDescuentoNoValido.invalid && vDescuentoNoValido.touched" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            <small *ngIf="vDescuentoNoValido.invalid && vDescuentoNoValido.errors.required && vDescuentoNoValido.touched" class="text-danger">El valor del descuento es requerido</small>
                                            <small *ngIf="vDescuentoNoValido.invalid && vDescuentoNoValido.errors.maxlength" class="text-danger">La longitud maxima del campo es de 10 caracteres</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <!--/span-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Fecha Inicial Descuento</label>
                                            <input class="form-control" type="date" formControlName="fechaInicio" [class.is-invalid]="fechaInicioNoValido.invalid && fechaInicioNoValido.touched">
                                            <small *ngIf="fechaInicioNoValido.invalid && fechaInicioNoValido.errors.required && fechaInicioNoValido.touched" class="text-danger">La fecha inicial es requerida</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Fecha Final Descuento</label>
                                            <input class="form-control" type="date" value="fechaActual" formControlName="fechaFin" [class.is-invalid]="fechaFinNoValido.invalid && fechaFinNoValido.touched">
                                            <small *ngIf="fechaFinNoValido.invalid && fechaFinNoValido.errors.required && fechaFinNoValido.touched" class="text-danger">La fecha final es requerida</small>
                                            <small *ngIf="forma.errors?.problemaFechas && fechaFinNoValido.dirty" class="text-danger animated fadeIn fast">La fecha inicial no puede ser mayor a la fecha final.</small>
                                        </div>

                                    </div>

                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Descuento Para...</label>
                                            <ng-select [items]="tipoDescuento" placeholder="Descuento Para..." bindLabel="valor" bindValue="id" (ngModelChange)="CambioSelect($event)" formControlName="tipoDescuento" [class.is-invalid]="tipoDescuentoNoValido.invalid && tipoDescuentoNoValido.touched">
                                            </ng-select>
                                            <small *ngIf="tipoDescuentoNoValido.invalid && tipoDescuentoNoValido.errors.required && tipoDescuentoNoValido.touched" class="text-danger ">El campo Descuento Para... es requerido</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 animated fadeIn" *ngIf="mostrarProductos">
                                        <div class="form-group">
                                            <label>Productos</label>
                                            <ng-select [items]="productos" placeholder="Seleccione un producto..." bindLabel="nombre" bindValue="idProducto" formControlName="idProducto" [class.is-invalid]="idProductoNoValido.invalid && idProductoNoValido.touched">
                                            </ng-select>
                                            <small *ngIf="idProductoNoValido.invalid && idProductoNoValido.errors.required && idProductoNoValido.touched" class="text-danger ">El campo Producto es requerido</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit " class="btn btn-primary ">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-flip>